.place__url-heading {
  color: #aaa;
  text-transform: uppercase;
  max-width: 456px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0 0 12px;
}
